@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: 'AstroNaut';
  src        : url('/fonts/AstroNaut-Black.otf') format('opentype');
  font-weight: 900;
  font-style : normal;
}

@font-face {
  font-family: 'AstroNaut';
  src        : url('/fonts/AstroNaut-Bold.otf') format('opentype');
  font-weight: 700;
  font-style : normal;
}

@font-face {
  font-family: 'AstroNaut';
  src        : url('/fonts/AstroNaut-RegularItalic.otf') format('opentype');
  font-weight: 400;
  font-style : italic;
}

@font-face {
  font-family: 'AstroNaut';
  src        : url('/fonts/AstroNaut-Thin.otf') format('opentype');
  font-weight: 100;
  font-style : normal;
}

@font-face {
  font-family: 'AstroNaut';
  src        : url('/fonts/AstroNaut-Regular.otf') format('opentype');
  font-weight: 400;
  font-style : normal;
}

@font-face {
  font-family: 'AstroNaut';
  src        : url('/fonts/AstroNaut-ThinItalic.otf') format('opentype');
  font-weight: 100;
  font-style : italic;
}

@font-face {
  font-family: 'AstroNaut';
  src        : url('/fonts/AstroNaut-BoldItalic.otf') format('opentype');
  font-weight: 700;
  font-style : italic;
}

@font-face {
  font-family: 'AstroNaut';
  src        : url('/fonts/AstroNaut-BlackItalic.otf') format('opentype');
  font-weight: 900;
  font-style : italic;
}

:root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  color: rgba(0, 218, 163, 1);
  background-image: radial-gradient(circle, rgba(0, 218, 163, 0.1), rgba(0, 218, 163, 0)),
    url(./background.png);
  background-size      : cover;
  background-position  : center;
  background-repeat    : no-repeat;
  background-attachment: fixed;

  font-synthesis         : none;
  text-rendering         : optimizeLegibility;
  -webkit-font-smoothing : antialiased;
  -moz-osx-font-smoothing: grayscale;
}

a {
  font-weight    : 500;
  color          : #646cff;
  text-decoration: inherit;
}

a:hover {
  color: #535bf2;
}

h1 {
  font-size  : 3.2em;
  line-height: 1.1;
}

@layer base {
  :root {
    --radius: 0.5rem;
  }
}